*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.futter1{
    background-color: rgb(51, 50, 50);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.futter2{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 15px;
    background-color: rgb(154, 188, 39);
    color: white;
    box-shadow: 3px 3px 10px rgb(51, 50, 50), -3px -3px 10px rgb(51, 50, 50);
}

.main{
    height: 1000px;
    background: url('https://wallpaperaccess.com/full/2076198.jpg');
    background-size: 100% 100%;
}

.main1{
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    justify-content: space-around;
}

.main3{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.ef{
    color: white;
    font-size: 30px;
}

.ef:hover{
    color: brown;
}

li{
    list-style: none;
    font-size: 30px;
    margin-top: 50px;
    position: relative;
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    gap: 20px;
    text-align: center;
}

.line{
    height: 3px;
    width: 0;
    background-color: darkcyan;
    transition: 0.5s;
}

.li1:hover .line {
    width: 100%;
}

/* .box1{
    position: absolute;
    opacity: 0;
    transition: 0.25s;
} */

/* .li1:hover .box1 {
    opacity: 1;
} */

.box{
    height: 50px;
    border-radius: 20px;
    width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 220px;
    justify-content: space-around;
    background-color: wheat;
}

.main4{
    text-align: center;
    padding-top: 200px;
    gap: 20px;
    font-size: 20px;
}

.bt1{
    padding: 10px;
    border-radius: 20px;
    width: 100px;
}

.bt1:hover{
    background-color: brown;
    color: wheat;
}

.dh12:hover{
    color: brown;
}
.dh12{
    font-size: 90px;
}
@media (min-width:400px){
    .dh12{
        font-size: 30px;
    }

}
@media (min-width:600px){
    .dh12{
        font-size: 90px;
    }

}
@media (min-width:1200px){
    .dh12{
        font-size: 90px;
    }

}
.part{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    text-align: center;
    /* align-items: center; */
    justify-content: space-evenly;
}
.part11{
    font-size:50px; 
    
}
.part11:hover{
    color: red;
}
.part22{
    border-radius: 20px;
}
.part111, .part1111{
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
}
.se3{
    margin-top: 100px;
    /* height: 800px; */
    /* width: 100%;     */
    background: url('https://img.lovepik.com/bg/20240512/Stunning-3D-Render-Green-Sofa-in-Chic-Black-Living-Room_11860067_wh1200.jpg');
    background-size: 100% 100%;
    

}
 @media (max-width:400px){
    .tr{
        gap: 20px;
    }
    .dh12{
        font-size: 40px;
    }
    .se312{
        font-size: 10px;
    }
}
.se31{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    text-align: center;
    align-items: center;
}
.se311{
    border-radius: 20px;
    height: 40px;
    width: 80px;
    box-shadow:3px 3px 10px  black, -3px -3px 10px black;
}
.se311:hover{
    background-color: brown;
}
.se312{
    font-size: 70px;
    color: wheat;
}
.tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 100px; */
    padding: 20px;
}

        .td {
            width: 300px;
            /* height: 300px; */
            background-color: white;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .div1 {
            height: 170px;
            width: 200px;
            background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/073/893/small_2x/interior-of-a-modern-living-room-with-an-armchair-and-furniture-in-3d-rendering-free-photo.jpg");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .leftarr{
            color: white;
            transform: rotate(320deg);
        }
        .arr{
            background-color: brown;
            border-radius: 50%;
             padding: 20px;
             display: flex;
             justify-content: center;
             align-items: center;
             opacity: 0;
        }
        .div1:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://static.vecteezy.com/system/resources/thumbnails/002/073/893/small_2x/interior-of-a-modern-living-room-with-an-armchair-and-furniture-in-3d-rendering-free-photo.jpg");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .arr:hover{
            background-color: black;
            .leftarr{
                transform: rotate(360deg);
            }
        }
        

        .td {
            width: 300px;
            /* height: 300px; */
            background-color: white;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .div1 {
            height: 170px;
            width: 200px;
            background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/073/893/small_2x/interior-of-a-modern-living-room-with-an-armchair-and-furniture-in-3d-rendering-free-photo.jpg");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .leftarr{
            color: white;
            transform: rotate(320deg);
        }
        .arr{
            background-color: brown;
            border-radius: 50%;
             padding: 20px;
             display: flex;
             justify-content: center;
             align-items: center;
             opacity: 0;
        }
        .div1:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://static.vecteezy.com/system/resources/thumbnails/002/073/893/small_2x/interior-of-a-modern-living-room-with-an-armchair-and-furniture-in-3d-rendering-free-photo.jpg");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .arr:hover{
            background-color: black;
            .leftarr{
                transform: rotate(360deg);
            }
        }
        

        .td {
            width: 300px;
            /* height: 300px; */
            background-color: white;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .div1 {
            height: 170px;
            width: 200px;
            background-image: url("https://tse2.mm.bing.net/th/id/OIP.HrrQz2hSNxzblK2BwC6ygQHaEK?pid=Api&P=0&h=180");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .leftarr{
            color: white;
            transform: rotate(320deg);
        }
        .arr{
            background-color: brown;
            border-radius: 50%;
             padding: 20px;
             display: flex;
             justify-content: center;
             align-items: center;
             opacity: 0;
        }
        .div1:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://tse2.mm.bing.net/th/id/OIP.HrrQz2hSNxzblK2BwC6ygQHaEK?pid=Api&P=0&h=180");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .arr:hover{
            background-color: black;
            .leftarr{
                transform: rotate(360deg);
            }
        }
        

        .td {
            width: 300px;
            /* height: 300px; */
            background-color: white;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .div1 {
            height: 200px;
            width: 200px;
            background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/073/893/small_2x/interior-of-a-modern-living-room-with-an-armchair-and-furniture-in-3d-rendering-free-photo.jpg");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .div2 {
            height: 200px;
            width: 200px;
            background-image: url("https://tse2.mm.bing.net/th/id/OIP.HrrQz2hSNxzblK2BwC6ygQHaEK?pid=Api&P=0&h=180");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .div3 {
            height: 200px;
            width: 200px;
            background-image: url("https://static.vecteezy.com/system/resources/previews/027/564/740/non_2x/genuine-leather-office-chair-for-executive-officer-on-red-background-with-clipping-path-generative-ai-free-photo.jpg");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .div4 {
            height: 200px;
            width: 200px;
            background-image: url("https://static.vecteezy.com/system/resources/thumbnails/022/800/193/small_2x/ai-generated-colorful-contemporary-room-with-modern-furniture-photo.jpg");
            border-radius: 50%;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .leftarr{
            color: white;
            transform: rotate(320deg);
        }
        .arr{
            background-color: brown;
            border-radius: 50%;
             padding: 20px;
             display: flex;
             justify-content: center;
             align-items: center;
             opacity: 0;
        }
        .div1:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://static.vecteezy.com/system/resources/thumbnails/002/073/893/small_2x/interior-of-a-modern-living-room-with-an-armchair-and-furniture-in-3d-rendering-free-photo.jpg");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .div2:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://tse2.mm.bing.net/th/id/OIP.HrrQz2hSNxzblK2BwC6ygQHaEK?pid=Api&P=0&h=180");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .div3:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://static.vecteezy.com/system/resources/previews/027/564/740/non_2x/genuine-leather-office-chair-for-executive-officer-on-red-background-with-clipping-path-generative-ai-free-photo.jpg");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .div4:hover{
                background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("https://static.vecteezy.com/system/resources/thumbnails/022/800/193/small_2x/ai-generated-colorful-contemporary-room-with-modern-furniture-photo.jpg");
                background-size: 100% 100%;
                .arr{
                    opacity: 1;
                }
        }
        .arr:hover{
            background-color: black;
            .leftarr{
                transform: rotate(360deg);
            }
        }
        .se41{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    .se422{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
        justify-content: end;

    }
    
    .se4{
        height: 500px;

    }
    .li2:hover .line1 {
    width: 100%;
    
    }
    .li2:hover{
        color: brown;
    }
    .line1{
    height: 3px;
    width: 0;
    background-color: brown;
    /* transition: 0.5s; */
    }
    .li1{
        font-style: ;
    }









    .se442{
            /* height: 300px; */
            width: 300px;
            /* background-image: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-24-1.jpg'); */
            background: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-1-2.jpg');
            background-size: 100% 100%;
            /* border: 2px solid black; */
            position: relative; 
            border-radius: 20px;
        }
    .se4421{
            /* height: 300px; */
            width: 300px;
            /* background-image: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-24-1.jpg'); */
            background: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-13-1.jpg');
            background-size: 100% 100%;
            /* border: 2px solid black; */
            position: relative; 
            border-radius: 20px;
        }
        .se44221{
            /* height: 300px; */
            width: 300px;
            /* background-image: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-24-1.jpg'); */
            background: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-24-1.jpg');
            background-size: 100% 100%;
            /* border: 2px solid black; */
            position: relative; 
            border-radius: 20px;
        }
        .se4423{
            /* height: 300px; */
            width: 300px;
            /* background-image: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-24-1.jpg'); */
            background: url('https://demo2.pavothemes.com/aunuca/wp-content/uploads/2025/02/product-17-1.jpg');
            background-size: 100% 100%;
            /* border: 2px solid black; */
            position: relative; 
            border-radius: 20px;
        }

         .img1,.img2,.img3,.img4{
            border-radius: 40px;
            transition: 0.8s;
            opacity: 0;
         }
         .se442:hover .img1{
            opacity: 1;
         }
         .se4421:hover .img2{
            opacity: 1;
         }
         .se44221:hover .img3{
            opacity: 1;
         }
         .se4423:hover .img4{
            opacity: 1;
         }
        .se444{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            top: 60px;
            left: 250px;
            gap: 30px;
            opacity: 0;
            
            
        }
        .if{
            font-size: 20px;
            transition: 0.30s;
        }
        .se441{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 100px;
            gap: 15px;
            /* transition: 0.20s; */   
        }
        
        .se442:hover .se444, .se4421:hover .se444,.se4422:hover .se444,.se4423:hover .se444{
            opacity: 1;

            .sep:hover{
                background-color: brown;
                height: 35px;
                width: 35px;
                color: white;
                
            }
        }

        .sep{
            background-color: wheat;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        p{
            position: absolute;
            top: -15px;
            left: -15px;
            opacity: 0;
            transition: 0.1s;
        }
        .p1{
            position: absolute;
            top: 40px;
            left: -15px;
            opacity: 0;
            transition: 0.1s;
        }
        .p2{
            position: absolute;
            top: 100px;
            left: -3px;
            opacity: 0;
            transition: 0.1s;
        }
        .p3{
            position: absolute;
            top: 160px;
            left: -3px;
            opacity: 0;
            transition: 0.1s;
        }
        .se445:hover p{
            opacity: 1;
        }
        
        .se447{
            position: absolute;
            top: 20px;
            height: 25px;
            width: 60px;
            background-color: brown;
            font-size: 20px;
            color: wheat;
            border-radius: 0 10px 10px 0;
        }

        .h40:hover{
            color: brown;
        }
        .maja{
            gap: 15px;
        }
        .tr5{
            height: 600px;
            background-image: url('https://www.pixelstalk.net/wp-content/uploads/images1/Living-room-comfort-curtains-family-fashion-furniture-garden-happiness-home-interior-landscape.jpg');
            background-size: 100% 100%;
        }
        .td5{
            display: flex;
            flex-direction: column;
            /* text-align: center; */
            align-items: center;
            margin-top: 200px;

        }
        .se52{
            font-size: 100px;
            /* color:aqua; */
            letter-spacing: 10px;

        }
        .tr62{
            height: 300px;
            background-color: brown;
            
        }
        .td63{
            display: flex;
            flex-direction: column;
            color: wheat;
            align-items: center;
            padding-top: 100px;
        }
        .td64{
            font-size: 50px;
            font-style: oblique;
            letter-spacing: 5px;
        }
        
        video{
            height: 500px;
            width: 400px;
            border-radius: 20px;
            background-size: 100% 100%;
        }
        .p2,.p1,.se446{ 
            font-size: 20px;
        }
        .tr7{
            padding: 80px;
            font-size: 30px;
        }
        .td71{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .td712{
            height: 400px;
        }
        video{
            object-fit: cover;
            
        }
